body {
    background: whitesmoke;
    font-family: monospace;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    margin: -190px;
    float: center;
    perspective: 800px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.7s;
}

.front,
.back {
    position:absolute;
    height: 100%;
    width: 100%;
    background: blue;
    line-height: 400px;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    backface-visibility: hidden;
}

.back {
    background: red;
    color: white;
    transform: rotateY( 180deg );
}